/* header */
.header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-top{
    background-color: var(--color-one);
    color: var(--color-two);
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.header-main .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-main .inner-logo span{
    font-size: 22px;
    font-weight: 600;
}
.header-main .inner-logo a{
    color: var(--color-one);
    align-items: center;
    display: flex;
}

.header-main .inner-logo img {
    height: 48px;
    width: auto;
    margin-right: 10px;
}
.header-main .inner-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-main .inner-menu ul li a{
    color: var(--color-one);
    font-size: 18px;
}
.header-main .inner-menu ul li {
    margin-right: 10px;
    margin-left: 10px;
}
.header-main .inner-contact {
    font-size: 18px;
    color: var(--color-text);
}
.header-main .inner-social ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-main .inner-social ul li {
    margin-left: 15px;
}
.header-main .inner-social ul li a{
    font-size: 26px;
    color: var(--color-one);
}
.header-main .inner-menu-mobi{
    display: none;
}
@media (max-width: 768px) {
    .header-top{
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    .header-main .inner-contact{
        display: none;
    }
}
@media (max-width: 768px) {
    .header-main .inner-menu {
        display: none;
    }
    .header-main .inner-social {
        display: none;
    }
    .header-main .inner-menu-mobi{
    display: block;
    font-size: 24px;
    color: var(--color-one);
    }
}
/* End header */
.button{
    color: white;
    background-color: var(--color-text);
    padding: 12px 32px;
    font-size: 18px ;
    border-radius: 45px;
    border: 2px solid var(--color-text);
    display: inline-block;
}
.button:hover{
    background-color: white;
    color: var(--color-text);
}
.button-one{
    background-color: var(--color-one);
    border-color: var(--color-one);
}
.button-one:hover{
    color: var(--color-one);
}
.button-two{
    background-color: var(--color-two);
    border-color: var(--color-two);
}
.button-two:hover{
    color: var(--color-two);
}
/* Section one */
.section-one{
    background-color: var(--color-background);
    padding: 100px 0;
}
.section-one .inner-wrap{
    display: flex;
}
.section-one .inner-content{
    width: 50%;
}
.section-one .inner-content .inner-title{
    font-size: 60px;
    color: var(--color-one);
}
.section-one .inner-content .inner-desc{
    font-size: 20px;
    color: var(--color-one);
    margin-bottom: 40px;
}
.section-one .inner-image{
    width: 50%;
    position: relative;
}
.section-one .inner-image img{
    width: 100%;
}
.section-one .inner-image .inner-sale{
    position: absolute;
    top: 0;
    right: 150px;
    background-color: var(--color-two);
    color: var(--color-one);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.section-one .inner-image .inner-sale span:nth-child(1){
    font-size: 22px;
    font-weight: 600;
}
.section-one .inner-image .inner-sale span:nth-child(2){
    font-size: 42px;
    font-weight: 600;
}

.section-one .inner-content .inner-list{
    display: flex;
    margin-bottom: 40px;
}
.section-one .inner-content .inner-item{
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-items: center;
}
.section-one .inner-content .inner-item i{
    font-size: 24px;
    margin-right: 10px;
}
@media (max-width: 992px){
    .section-one .inner-content{
        width: 100%;
        order: 1;
    }
    .section-one .inner-image{
        width: 100%; 
    }
    .section-one .inner-wrap{
        flex-wrap: wrap;
    }
}
@media (max-width: 768px){
    .section-one .inner-content{
        text-align: center;
    }
    .section-one .inner-content .inner-item{
        justify-content: center;
    }
     .section-one .inner-image .inner-sale{
        right: 36px;
        width: 84px;
        height: 84px;
    }
    .section-one .inner-image .inner-sale span:nth-child(1){
        font-size: 16px;

    }
     .section-one .inner-image .inner-sale span:nth-child(2){
        font-size: 28px;

    }
    .section-one .inner-content .inner-title{
        font-size: 38px;
    }
}
/* End Section one */

/* Section two */
.section-two{
    padding: 80px 0;
}
.section-two .inner-box{
    width: calc(100%/3 - 20px);
    height: 100%;
    /* Tỉ lệ width/height của element */
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
}
.section-two img{
    width: 100%;
    height: 100%;
    /* Ảnh tự co dãn hết width/height mà không bị co dãn */
    object-fit: cover;
    transition: all 0.6s;
}
.section-two .inner-box:hover img{
    transform: scale(1.1);
}

.section-two .inner-wrap{
    display: flex;
    justify-content: space-between;
}
.section-two .inner-content{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
    position: absolute;
}
.section-two .inner-box .inner-tag{
    background-color: #13A05D;
    display: inline-block;
    border-radius: 15px;
    padding: 6px 12px;
    margin-bottom: 10px;
    color: white;
}
.section-two .inner-box h3{
    color: white;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}
.section-two .inner-box .inner-sale{
    color: var(--color-two);
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 12px;
}
.section-two .inner-content .inner-price-new{
    font-size: 30px;
    color: var(--color-two);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.section-two .inner-content .inner-price-old{
    text-decoration: line-through;
    color: #BBBBBB;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .section-two .inner-wrap{
        flex-wrap: wrap;
    }
    .section-two .inner-box{
        width: 100%;
        aspect-ratio: 2/1;
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .section-two .inner-box{
        aspect-ratio: 1/1; 
    }
}
/* End Section two */

/* Section three */
.section-three{
    background-color: var(--color-background);
    text-align: center;
    padding-bottom: 50px;
}
.section-three .box-1{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-three .box-1 h3{
    text-align: center;
    color: var(--color-one);
    font-size: 40px;
    margin-bottom: 0;
    
}
.section-three .box-1 h5{
    text-align: center;
    color: var(--color-text);
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}
.section-three .box-2{
    display: flex;
}
.section-three i{
    font-size: 38px;
}
/* End Section Three */
/* Section four */
.section-four{
    background-color: white;
}
.section-four .container .inner-wrap{
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;   
}
.section-four .container .inner-wrap img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section-four .container .inner-wrap .inner-content{
    width: 50%;
    align-content: center;
}
.section-four .container .inner-wrap .inner-image{
    width: 50%;
}
.section-four .container .inner-wrap .inner-content .inner-title{
    font-size: 50px;
    color: var(--color-one);
}
.section-four .container .inner-wrap .inner-content .inner-desc{
    font-size: 24px;
    margin-bottom: 30px;
}
/* End Section Four */